*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body
{
    background-color: rgb(255, 255, 255);
}
.fullformadding
{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    margin-top: 20px;
    margin-left: 190px;
    height: 800px;
    border-radius:1px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 4px  rgb(126, 121, 121);

}
.top_image_hospital
{
   margin-left: 20px;
    width: 160px;
    height: 130px;
    margin-top: 10px;
}
.first_add_head
{
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 31px;
    color: rgb(27 99 9);
    margin-left: none;

}
.data2
{
    text-align: center;
    margin-top: -10px;
}

/*#################### MAKING POST AND INPUT AREAS FLEX AND MAKE IT BELOW USING BR################################## */
.header
{
    display: flex;
}
.cnic_full_name_post
{
    display: flex;
    margin-top: 20px;
}
.selection_of_data_post
{
    display: flex;
}
.usernmae_password_data_post
{
    display: flex;
}
.confirm_passord_contact_post
{
    display: flex;
}

/* ############################CNIC----FULL NAME STYLING##############################################################3 */
.cnic_post
{
    margin-left: 20px;


}
.cnic_label
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;

}
.cnic_data_entry
{
    font-family: 'Public Sans', sans-serif;
    border:1px solid rgb(112, 110, 110);
    width: 460px;
    height: 30px;
    padding-left: 20px;
    margin-top:5px;

    color: rgb(0, 0, 0);
    font-weight: bold;
}



.fullnmae_post
{
    margin-left: 30px;


}
.Full_name_label
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;

}
.full_name_data_entry
{
    font-family: 'Public Sans', sans-serif;
    border:1px solid rgb(112, 110, 110);
    width: 460px;
    height: 30px;
    padding-left: 20px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
/* ############################SELECTING ---HOSPITAL AND ROLE STYLING##############################################################3 */

.selecting_hospital_data
{
    margin-left: 20px;
    margin-top: 10px;


}
.label_selecting_hospital
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;

}
.selecting_hospital
{
    font-family: 'Public Sans', sans-serif;
    border:1px solid rgb(112, 110, 110);
    width: 460px;
    height: 30px;
    padding-left: 20px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}



.selecting_role_data
{
    margin-left: 30px;
    margin-top: 10px;


}
.label_selecting_role
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;

}
.selecting_role
{
    font-family: 'Public Sans', sans-serif;
    border:1px solid rgb(112, 110, 110);
    width: 460px;
    height: 30px;
    padding-left: 20px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* ############################USER NAME PASSWORD----STYLING##############################################################3 */
.uernamepost
{
    margin-left: 20px;
    margin-top: 10px;


}
.username_label
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;

}
.username_data_entry
{
    font-family: 'Public Sans', sans-serif;
    border:1px solid rgb(112, 110, 110);
    width: 460px;
    height: 30px;
    padding-left: 20px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}



.password_post
{
    margin-left: 30px;
    margin-top: 10px;


}
.password_label
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;

}
.password_data_entry
{
    font-family: 'Public Sans', sans-serif;
    border:1px solid rgb(112, 110, 110);
    width: 460px;
    height: 30px;
    padding-left: 20px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* ############################UCONFRIM PASSWORD AND CONTACT  NUMBER----STYLING##############################################################3 */
.confirm_password_post
{
    margin-left: 20px;
    margin-top: 10px;


}
.confirmpassword_label
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;

}
.confirmpassword_data_entry
{
    font-family: 'Public Sans', sans-serif;
    border:1px solid rgb(112, 110, 110);
    width: 460px;
    height: 30px;
    padding-left: 20px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}



.contact_number_post
{
    margin-left: 30px;
    margin-top: 10px;


}
.contactnumber_label
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;

}
.contactnumber_data_entry
{
    font-family: 'Public Sans', sans-serif;
    border:1px solid rgb(112, 110, 110);
    width: 460px;
    height: 30px;
    padding-left: 20px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* ############################STATUS----STYLING##############################################################3 */
.status_data
{
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;


}

.radiobutton_status
{
    margin-top: 10px;
}

/* ############################Notes----STYLING##############################################################3 */
.notes_form_user
{
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;


}

.note_box
{
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Public Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;


}
/* ############################photo upload----STYLING##############################################################3 */
.upload_user_picture
{
    margin-left:20px;
    margin-top: 10px;  
}

.note
{

    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    font-size: 16px;
}
.upload_button
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    border: none;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
/* ############################Buttons----STYLING##############################################################3 */
.buttons_submit_cancle
{
    margin-left:20px;
    margin-top: 40px; 

}
.submit
{
    border: none;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;

}
.cancle
{
    cursor: pointer;
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    width: 100px;
    height: 30px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
    margin-left:10px;
    transition: all;

    transition-duration: 1s;


}

.submit:hover
{
    background-color: rgb(34, 255, 89);
    box-shadow: 1px 1px 30px rgb(18, 168, 55);
    border:3px solid rgb(255, 255, 255);
    transform:translateY(-4px);
    color: black;

}

.cancle:hover
{

    background-color: rgb(255, 13, 13);
    box-shadow: 1px 1px 30px rgb(255, 0, 0);
    border:3px solid rgb(255, 255, 255);
    transform:translateY(-3px);
}
.copywrite
{
    margin-top: 20px;
    text-align: center;
  
}
.copytext
{
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.dark
{
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 5px rgb(119, 113, 113);
}